{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "cypress"
  ],
  "extends": [
    "plugin:cypress/recommended",
    "plugin:prettier/recommended",
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:import/typescript",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    // Make prettier code formatting suggestions more verbose.
    "prettier/prettier": [
      "warn"
    ],
    // Disable <Fragment> => <> replacement. Feel free to change
    "react/jsx-fragments": "off",
    // Disable prefer default export
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "consistent-return": "off",
    "react/jsx-boolean-value": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-restricted-globals": [
      "error",
      "event",
      "fdescribe"
    ],
    "react/jsx-props-no-spreading": "off"
  }
}
